apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "recommendations-maker.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "recommendations-maker.name" . }}
    {{- include "pod-rightsizing.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "recommendations-maker.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "recommendations-maker.name" . }}
    spec:
      {{- if .Values.global.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.global.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.global.tolerations }}
      tolerations:
      {{- toYaml .Values.global.tolerations | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.recommendationsMaker.name }}
          image: {{ .Values.registry }}{{ .Values.recommendationsMaker.image.name }}:{{ .Values.recommendationsMaker.image.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy | default "Always" }}
          {{- if .Values.recommendationsMaker.image.args }}
          args: {{ toYaml .Values.recommendationsMaker.image.args | nindent 10 }}
          {{- end }}
          env:
            - name: CM_NAME
              value: {{ include "kompass-pod-rightsizing-config.name" . }}
            - name: CM_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: VM_URL
              value: {{ include "pod-rightsizing.victoriaMetrics.url" . }}
            - name: SAVE_QUERIES_TO_FILES
              value: "false"
            - name: CONTAINER_NAME
              value: {{ .Values.recommendationsMaker.name }}
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- if .Values.cxLogging.enabled }}
            - name: CX_API_KEY
              value: {{ .Values.cxLogging.apiKey }}
            - name: CX_CLUSTER_NAME
              value: {{ .Values.cxLogging.clusterName }}
            {{- end }}
            - name: CORALOGIX_LOG_URL
              value: {{ .Values.cxLogging.logUrl | default "https://ingress.eu2.coralogix.com:443/api/v1/logs" }}
            - name: CORALOGIX_TIME_DELTA_URL
              value: {{ .Values.cxLogging.timeDeltaUrl | default "https://ingress.eu2.coralogix.com:443/sdk/v1/time" }}
          volumeMounts:
            - mountPath: /recommendations-data
              name: recommendations-storage
          resources:
            requests:
              cpu: 200m
              memory: 128Mi
      volumes:
        - name: recommendations-storage
          emptyDir: {}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "pod-rightsizing.serviceAccountName" . }}
