{{- $recommendationsMakerPodSecurityContext := include "pod-rightsizing.securityContext.pod" (dict "root" . "componentSecurityContext" .Values.recommendationsMaker.podSecurityContext) | fromYaml }}
{{- $recommendationsMakerSecurityContext := include "pod-rightsizing.securityContext.container" (dict "root" . "componentSecurityContext" .Values.recommendationsMaker.securityContext) | fromYaml }}
{{- $recommendationsMakerPodLabels := include "pod-rightsizing.podTemplateLabels" (dict "root" . "componentValues" .Values.recommendationsMaker) | fromYaml }}
{{- $recommendationsMakerPodAnnotations := include "pod-rightsizing.podTemplateAnnotations" (dict "root" . "componentValues" .Values.recommendationsMaker) | fromYaml }}
{{- $recommendationsMakerAffinity := include "pod-rightsizing.affinity" (dict "root" . "componentValues" .Values.recommendationsMaker) | fromYaml }}
{{- $recommendationsMakerImagePullSecrets := include "pod-rightsizing.imagePullSecrets" (dict "root" . "componentValues" .Values.recommendationsMaker) | fromYamlArray }}
{{- $recommendationsMakerTopologySpreadConstraints := include "pod-rightsizing.topologySpreadConstraints" (dict "root" . "componentValues" .Values.recommendationsMaker) | fromYamlArray }}
{{- $recommendationsMakerAutomountServiceAccountToken := include "pod-rightsizing.automountServiceAccountToken" (dict "root" . "componentValues" .Values.recommendationsMaker) }}
{{- $recommendationsMakerRuntimeClassName := include "pod-rightsizing.runtimeClassName" (dict "root" . "componentValues" .Values.recommendationsMaker) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "recommendations-maker.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "recommendations-maker.name" . }}
    {{- include "pod-rightsizing.labels" . | nindent 4 }}
    {{- with .Values.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.recommendationsMaker.replicaCount | default 1 }}
  selector:
    matchLabels:
      app: {{ include "recommendations-maker.name" . }}
  template:
    metadata:
      {{- with $recommendationsMakerPodAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ include "recommendations-maker.name" . }}
        {{- with $recommendationsMakerPodLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.additionalLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.recommendationsMaker.priorityClassName }}
      priorityClassName: {{ .Values.recommendationsMaker.priorityClassName }}
      {{- end }}
      {{- if $recommendationsMakerRuntimeClassName }}
      runtimeClassName: {{ $recommendationsMakerRuntimeClassName }}
      {{- end }}
      {{- with $recommendationsMakerPodSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.global.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.global.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.global.tolerations }}
      tolerations:
      {{- toYaml .Values.global.tolerations | nindent 8 }}
      {{- end }}
      {{- with $recommendationsMakerTopologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $recommendationsMakerAffinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.recommendationsMaker.name }}
          image: {{ .Values.registry }}{{ .Values.recommendationsMaker.image.name }}:{{ .Values.recommendationsMaker.image.tag  | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.imagePullPolicy | default "Always" }}
          {{- if .Values.recommendationsMaker.image.args }}
          args: {{ toYaml .Values.recommendationsMaker.image.args | nindent 10 }}
          {{- end }}
          env:
            - name: CM_NAME
              value: {{ include "kompass-pod-rightsizing-config.name" . }}
            - name: CM_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: LEADER_ELECTION_ENABLED
              value: "{{ .Values.recommendationsMaker.leaderElection.enabled }}"
            - name: VM_URL
              value: {{ include "pod-rightsizing.victoriaMetrics.url" . }}
            - name: SAVE_QUERIES_TO_FILES
              value: "false"
            - name: CONTAINER_NAME
              value: {{ .Values.recommendationsMaker.name }}
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- if and .Values.global.cxLogging .Values.global.cxLogging.enabled }}
            - name: CX_API_KEY
              value: {{ .Values.global.cxLogging.apiKey }}
            - name: CX_CLUSTER_NAME
              value: {{ .Values.global.cxLogging.clusterName }}
            - name: CORALOGIX_LOG_URL
              value: {{ .Values.global.cxLogging.logUrl | default "https://ingress.eu2.coralogix.com:443/api/v1/logs" }}
            - name: CORALOGIX_TIME_DELTA_URL
              value: {{ .Values.global.cxLogging.timeDeltaUrl | default "https://ingress.eu2.coralogix.com:443/sdk/v1/time" }}
            - name: CORALOGIX_METRICS_URL
              value: {{ .Values.global.cxLogging.metricsUrl }}
            {{- else if and .Values.cxLogging .Values.cxLogging.enabled }}
            - name: CX_API_KEY
              value: {{ .Values.cxLogging.apiKey }}
            - name: CX_CLUSTER_NAME
              value: {{ .Values.cxLogging.clusterName }}
            - name: CORALOGIX_LOG_URL
              value: {{ .Values.cxLogging.logUrl | default "https://ingress.eu2.coralogix.com:443/api/v1/logs" }}
            - name: CORALOGIX_TIME_DELTA_URL
              value: {{ .Values.cxLogging.timeDeltaUrl | default "https://ingress.eu2.coralogix.com:443/sdk/v1/time" }}
            - name: CORALOGIX_METRICS_URL
              value: {{ .Values.cxLogging.metricsUrl }}
            {{- end }}
            {{- if and .Values.config .Values.config.excludeNamespaces }}
            - name: EXCLUDE_NAMESPACES
              value: {{ .Values.config.excludeNamespaces | toJson | quote }}
            {{- end }}
          volumeMounts:
            - mountPath: /recommendations-data
              name: recommendations-storage
          {{- with $recommendationsMakerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- include "pod-rightsizing.recommendationsMaker.resources" . | nindent 10 }}
          ports:
            - containerPort: 8088
              name: http
              protocol: TCP
      volumes:
        - name: recommendations-storage
          emptyDir: {}
      {{- with $recommendationsMakerImagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "pod-rightsizing.serviceAccountName" . }}
      {{- if ne $recommendationsMakerAutomountServiceAccountToken "" }}
      automountServiceAccountToken: {{ $recommendationsMakerAutomountServiceAccountToken }}
      {{- end }}
