enabled: false
accountId: ""
nameOverride: ""
fullnameOverride: ""
imagePullPolicy: "Always"
registry: 672188301118.dkr.ecr.eu-west-1.amazonaws.com
serviceAccount:
  name: "zesty-kompass-rightsizing"
metricsExporterServiceAccount:
  name: "zesty-kompass-rightsizing-metrics-exporter"
cxLogging:
  apiKey: ""
  clusterName: ""
  enabled: false
  logUrl: "https://ingress.eu2.coralogix.com:443/api/v1/logs"
  metricsUrl: "https://ingress.eu2.coralogix.com:443"
  timeDeltaUrl: "https://ingress.eu2.coralogix.com:443/sdk/v1/time"
actionTaker:
  # fullnameOverride: ""
  kubeRbacProxy:
    image:
      registry: gcr.io
      repository: kubebuilder/kube-rbac-proxy
      tag: v0.13.1
  name: "action-taker"
  image:
    name: "/pod-rightsizing/action-taker"
    tag: "v1.2.5"
recommendationsMaker:
  # fullnameOverride: ""
  name: "recommendations-maker"
  image:
    name: "/pod-rightsizing/recommendations-maker"
    tag: "v1.2.5"
    args:
  port: 8088
metricsExporter:
  name: "metrics-exporter"
  image:
    name: "/pod-rightsizing/metrics-exporter"
    tag: "v1.2.5"
    args:
podRightsizingConfig:
  name: ""
image:
  tag: v1.2.5
