enabled: false
accountId: ""
nameOverride: ""
fullnameOverride: ""
imagePullPolicy: "Always"
registry: 672188301118.dkr.ecr.eu-west-1.amazonaws.com
serviceAccount:
  name: "zesty-kompass-rightsizing"
metricsExporterServiceAccount:
  name: "zesty-kompass-rightsizing-metrics-exporter"
cxLogging:
  apiKey: ""
  clusterName: ""
  enabled: false
  logUrl: "https://ingress.eu2.coralogix.com:443/api/v1/logs"
  metricsUrl: "https://ingress.eu2.coralogix.com:443"
  timeDeltaUrl: "https://ingress.eu2.coralogix.com:443/sdk/v1/time"
global:
  imagePullSecret:
    name: ""
  imagePullSecrets: []
  podLabels: {}
  podAnnotations: {}
  affinity: {}
  topologySpreadConstraints: []
  runtimeClassName: ""
  # automountServiceAccountToken: true
  podSecurityContext: {}
  securityContext: {}
actionTaker:
  # fullnameOverride: ""
  replicaCount: 1
  priorityClassName: ""
  runtimeClassName: ""
  imagePullSecrets: []
  podLabels: {}
  podAnnotations: {}
  affinity: {}
  topologySpreadConstraints: []
  # automountServiceAccountToken: true
  podSecurityContext:
    runAsNonRoot: true
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  kubeRbacProxy:
    image:
      registry: gcr.io
      repository: kubebuilder/kube-rbac-proxy
      tag: v0.13.1
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
  name: "action-taker"
  image:
    name: "/pod-rightsizing/action-taker"
    tag: "v0.4.1"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
config:
  matchNamespaces:
  excludeNamespaces:
    - "kube-system"
    - "zesty-system"
recommendationsMaker:
  # fullnameOverride: ""
  replicaCount: 1
  priorityClassName: ""
  runtimeClassName: ""
  imagePullSecrets: []
  podLabels: {}
  podAnnotations: {}
  affinity: {}
  topologySpreadConstraints: []
  # automountServiceAccountToken: true
  podSecurityContext: {}
  securityContext: {}
  leaderElection:
    enabled: false
  name: "recommendations-maker"
  image:
    name: "/pod-rightsizing/recommendations-maker"
    tag: "v0.4.1"
    args:
  port: 8088
  resources:
    requests:
      cpu: 200m
      memory: 128Mi
metricsExporter:
  name: "metrics-exporter"
  runtimeClassName: ""
  imagePullSecrets: []
  podLabels: {}
  podAnnotations: {}
  affinity: {}
  topologySpreadConstraints: []
  # automountServiceAccountToken: true
  podSecurityContext: {}
  securityContext: {}
  image:
    name: "/pod-rightsizing/metrics-exporter"
    tag: "v0.4.1"
    args:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
podRightsizingConfig:
  name: ""
hooks:
  image:
    registry: 672188301118.dkr.ecr.eu-west-1.amazonaws.com/docker-hub/bitnami
    repository: kubectl
    tag: latest
