---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kompass-rightsizing-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/resize
  verbs:
  - patch
  - update
- apiGroups:
  - ""
  resourceNames:
  - kompass-insights-secret
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  - policy
  resources:
  - pods/eviction
  verbs:
  - create
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applications
  - rollouts
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - keda.sh
  resources:
  - scaledobjects
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kompass.zesty.co
  resources:
  - actions
  - autopilotconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kompass.zesty.co
  resources:
  - actions/finalizers
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - kompass.zesty.co
  resources:
  - actions/status
  verbs:
  - get
  - patch
  - update
