{{- if .Values.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: kompass-pod-rightsizing-validating-webhook
  annotations:
    cert-manager.io/inject-ca-from: "{{ .Release.Namespace }}/kompass-pod-rightsizing-webhook-cert"
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "kompass-webhook-svc.name" . }}
      namespace: {{ .Release.Namespace }}
      path: /validate--v1-configmap
  failurePolicy: Ignore
  name: vconfigmap-v1.kb.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - configmaps
  sideEffects: None
{{- end }}