{{- if or (and .Values.global.cxLogging .Values.global.cxLogging.enabled) .Values.cxLogging.enabled }}
{{- $metricsExporterPodSecurityContext := include "pod-rightsizing.securityContext.pod" (dict "root" . "componentSecurityContext" .Values.metricsExporter.podSecurityContext) | fromYaml }}
{{- $metricsExporterSecurityContext := include "pod-rightsizing.securityContext.container" (dict "root" . "componentSecurityContext" .Values.metricsExporter.securityContext) | fromYaml }}
{{- $metricsExporterPodLabels := include "pod-rightsizing.podTemplateLabels" (dict "root" . "componentValues" .Values.metricsExporter) | fromYaml }}
{{- $metricsExporterPodAnnotations := include "pod-rightsizing.podTemplateAnnotations" (dict "root" . "componentValues" .Values.metricsExporter) | fromYaml }}
{{- $metricsExporterAffinity := include "pod-rightsizing.affinity" (dict "root" . "componentValues" .Values.metricsExporter) | fromYaml }}
{{- $metricsExporterImagePullSecrets := include "pod-rightsizing.imagePullSecrets" (dict "root" . "componentValues" .Values.metricsExporter) | fromYamlArray }}
{{- $metricsExporterTopologySpreadConstraints := include "pod-rightsizing.topologySpreadConstraints" (dict "root" . "componentValues" .Values.metricsExporter) | fromYamlArray }}
{{- $metricsExporterAutomountServiceAccountToken := include "pod-rightsizing.automountServiceAccountToken" (dict "root" . "componentValues" .Values.metricsExporter) }}
{{- $metricsExporterRuntimeClassName := include "pod-rightsizing.runtimeClassName" (dict "root" . "componentValues" .Values.metricsExporter) }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "metrics-exporter.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "metrics-exporter.name" . }}
    {{- include "pod-rightsizing.labels" . | nindent 4 }}
    {{- with .Values.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  schedule: "0 * * * *"
  concurrencyPolicy: Replace
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        metadata:
          {{- with $metricsExporterPodAnnotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          labels:
            app: {{ include "metrics-exporter.name" . }}
            {{- include "pod-rightsizing.labels" . | nindent 12 }}
            {{- with $metricsExporterPodLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.additionalLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        spec:
          {{- if $metricsExporterRuntimeClassName }}
          runtimeClassName: {{ $metricsExporterRuntimeClassName }}
          {{- end }}
          {{- with $metricsExporterPodSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.global.nodeSelector }}
          nodeSelector:
          {{- toYaml .Values.global.nodeSelector | nindent 12 }}
          {{- end }}
          {{- if .Values.global.tolerations }}
          tolerations:
          {{- toYaml .Values.global.tolerations | nindent 12 }}
          {{- end }}
          {{- with $metricsExporterTopologySpreadConstraints }}
          topologySpreadConstraints:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $metricsExporterAffinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
            - name: metrics-exporter
              image: {{ .Values.registry }}{{ .Values.metricsExporter.image.name }}:{{ .Values.metricsExporter.image.tag  | default .Chart.AppVersion }}
              imagePullPolicy: {{ .Values.imagePullPolicy | default "Always" }}
              {{- if .Values.metricsExporter.image.args }}
              args:
                {{- toYaml .Values.metricsExporter.image.args | nindent 16 }}
              {{- end }}
              env:
                - name: ACCOUNT_ID
                  value: {{ .Values.accountId | quote }}
                {{- if and .Values.global.cxLogging .Values.global.cxLogging.enabled }}
                - name: CX_API_KEY
                  value: {{ .Values.global.cxLogging.apiKey }}
                - name: CX_CLUSTER_NAME
                  value: {{ .Values.global.cxLogging.clusterName }}
                - name: CORALOGIX_LOG_URL
                  value: {{ .Values.global.cxLogging.logUrl | default "https://ingress.eu2.coralogix.com:443/api/v1/logs" }}
                - name: CORALOGIX_TIME_DELTA_URL
                  value: {{ .Values.global.cxLogging.timeDeltaUrl | default "https://ingress.eu2.coralogix.com:443/sdk/v1/time" }}
                - name: CORALOGIX_METRICS_URL
                  value: {{ .Values.global.cxLogging.metricsUrl }}
                {{- else if and .Values.cxLogging .Values.cxLogging.enabled }}
                - name: CX_API_KEY
                  value: {{ .Values.cxLogging.apiKey }}
                - name: CX_CLUSTER_NAME
                  value: {{ .Values.cxLogging.clusterName }}
                - name: CORALOGIX_LOG_URL
                  value: {{ .Values.cxLogging.logUrl | default "https://ingress.eu2.coralogix.com:443/api/v1/logs" }}
                - name: CORALOGIX_TIME_DELTA_URL
                  value: {{ .Values.cxLogging.timeDeltaUrl | default "https://ingress.eu2.coralogix.com:443/sdk/v1/time" }}
                - name: CORALOGIX_METRICS_URL
                  value: {{ .Values.cxLogging.metricsUrl }}
                {{- end }}
                - name: CM_NAMESPACE
                  value: {{ .Release.Namespace }}
              {{- with $metricsExporterSecurityContext }}
              securityContext:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              {{- include "pod-rightsizing.metricsExporter.resources" . | nindent 14 }}
          restartPolicy: Never
          {{- with $metricsExporterImagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ include "pod-rightsizing.metricsExporterServiceAccountName" . }}
          {{- if ne $metricsExporterAutomountServiceAccountToken "" }}
          automountServiceAccountToken: {{ $metricsExporterAutomountServiceAccountToken }}
          {{- end }}
{{- end }}
