apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "metrics-exporter.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "metrics-exporter.name" . }}
    {{- include "pod-rightsizing.labels" . | nindent 4 }}
    {{- with .Values.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  schedule: "0 * * * *"
  concurrencyPolicy: Replace
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        metadata:
          labels:
            app: {{ include "metrics-exporter.name" . }}
            {{- include "pod-rightsizing.labels" . | nindent 12 }}
            {{- with .Values.additionalLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        spec:
          {{- if .Values.global.nodeSelector }}
          nodeSelector:
          {{- toYaml .Values.global.nodeSelector | nindent 12 }}
          {{- end }}
          {{- if .Values.global.tolerations }}
          tolerations:
          {{- toYaml .Values.global.tolerations | nindent 12 }}
          {{- end }}
          containers:
            - name: metrics-exporter
              image: {{ .Values.registry }}{{ .Values.metricsExporter.image.name }}:{{ .Values.metricsExporter.image.tag  | default .Chart.AppVersion }}
              imagePullPolicy: {{ .Values.imagePullPolicy | default "Always" }}
              {{- if .Values.metricsExporter.image.args }}
              args:
                {{- toYaml .Values.metricsExporter.image.args | nindent 16 }}
              {{- end }}
              env:
                - name: ACCOUNT_ID
                  value: {{ .Values.accountId | quote }}
                {{- if and .Values.global.cxLogging .Values.global.cxLogging.enabled }}
                - name: CX_API_KEY
                  value: {{ .Values.global.cxLogging.apiKey }}
                - name: CX_CLUSTER_NAME
                  value: {{ .Values.global.cxLogging.clusterName }}
                - name: CORALOGIX_LOG_URL
                  value: {{ .Values.global.cxLogging.logUrl | default "https://ingress.eu2.coralogix.com:443/api/v1/logs" }}
                - name: CORALOGIX_TIME_DELTA_URL
                  value: {{ .Values.global.cxLogging.timeDeltaUrl | default "https://ingress.eu2.coralogix.com:443/sdk/v1/time" }}
                - name: CORALOGIX_METRICS_URL
                  value: {{ .Values.global.cxLogging.metricsUrl }}
                {{- else if and .Values.cxLogging .Values.cxLogging.enabled }}
                - name: CX_API_KEY
                  value: {{ .Values.cxLogging.apiKey }}
                - name: CX_CLUSTER_NAME
                  value: {{ .Values.cxLogging.clusterName }}
                - name: CORALOGIX_LOG_URL
                  value: {{ .Values.cxLogging.logUrl | default "https://ingress.eu2.coralogix.com:443/api/v1/logs" }}
                - name: CORALOGIX_TIME_DELTA_URL
                  value: {{ .Values.cxLogging.timeDeltaUrl | default "https://ingress.eu2.coralogix.com:443/sdk/v1/time" }}
                - name: CORALOGIX_METRICS_URL
                  value: {{ .Values.cxLogging.metricsUrl }}
                {{- end }}
                - name: CM_NAMESPACE
                  value: {{ .Release.Namespace }}
              {{- include "pod-rightsizing.metricsExporter.resources" . | nindent 14 }}
          restartPolicy: Never
          {{- $globalPullSecrets := list }}
          {{- if .Values.global.imagePullSecret.name }}
          {{- $globalPullSecrets = append $globalPullSecrets (dict "name" .Values.global.imagePullSecret.name) }}
          {{- end }}
          {{- range .Values.global.imagePullSecrets }}
          {{- $globalPullSecrets = append $globalPullSecrets . }}
          {{- end }}
          {{- $pullSecrets := $globalPullSecrets }}
          {{- if and (hasKey .Values "imagePullSecrets") (gt (len .Values.imagePullSecrets) 0) }}
          {{- $pullSecrets = .Values.imagePullSecrets }}
          {{- end }}
          {{- if hasKey .Values.metricsExporter "imagePullSecrets" }}
          {{- $pullSecrets = .Values.metricsExporter.imagePullSecrets }}
          {{- end }}
          {{- if $pullSecrets }}
          imagePullSecrets:
            {{- toYaml $pullSecrets | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ include "pod-rightsizing.metricsExporterServiceAccountName" . }}
