{{- if or (and .Values.global.cxLogging .Values.global.cxLogging.enabled) .Values.cxLogging.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: pilot
  name: metrics-exporter-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: metrics-exporter-role
subjects:
- kind: ServiceAccount
  name: {{ include "pod-rightsizing.metricsExporterServiceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
