{{- if or (and .Values.global.cxLogging .Values.global.cxLogging.enabled) .Values.cxLogging.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: pilot
  name: {{ include "pod-rightsizing.metricsExporterServiceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
